<div class="container py-4">
    <div class="image-card text-center">
        {{#if BossImage}}
        <img src="{{BossImage}}" alt="Boss Image" />
        {{else}}
        <img src="https://picsum.photos/id/40/200/300" alt="Boss Image" />
        {{/if}}
        <h5 class="mt-3">{{BossName}}</h5>
        <p>Reward: +{{Reward}}XP</p>
        <p>Deadline: {{Deadline}}</p>

        <div class="d-flex align-items-center mt-2">
            <div class="progress-label">HP:</div>
            <div class="progress" role="progressbar" aria-label="Health" aria-valuemin="0" aria-valuemax="{{MaxHP}}" data-current="{{HP}}" data-max="{{MaxHP}}">
                <div class="progress-bar bg-success"></div>
                <span class="progress-text"></span>
            </div>
        </div>
    </div>
</div>